{% extends 'core/base.html' %}
{% block name %}
    <title>Sobre nosotros</title>
{% endblock %}
{% load static %}
{% block contenido %}
        <section class="home">
            <div class="home__img">
                <div class="home__food">
                    <div class="home__food--body">
                        <h2>¿Quiénes Somos?</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="about__section">
            <div class="about__us">
                <div class="about__container">
                    <div class="about__info">
                        <h3 class="section__title">Sobre nosotros</h3>
                        <p class="about__info--body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam ea consequatur reiciendis voluptatibus a quibusdam quis dolorum. A consectetur, magnam aperiam cupiditate enim voluptate voluptas illum sint pariatur laudantium asperiores! <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores rem eum repellendus debitis sequi omnis minima eligendi ea at et, temporibus eius esse velit maxime laborum architecto pariatur dolorem consequuntur!</p>
                        <div class="about__info--social">
                            <p class="about__social--title">Siguenos en nuestras redes</p>
                            <i class='bx bxl-instagram'></i>
                            <i class='bx bxl-facebook' ></i>
                            <i class='bx bxl-twitter' ></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__map">
                <div class="about__container">
                    <div class="about__info">
                        <h3 class="section__title">¿Dónde estamos ubicados?</h3>
                        <div class="map__container">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.564223296899!2d-73.0517094851037!3d-36.828961086104634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9669b5d0d7859329%3A0x556079b23771f956!2zU2FuIE1hcnTDrW4gNjIyLCBDb25jZXBjacOzbiwgQsOtbyBCw61v!5e0!3m2!1ses-419!2scl!4v1621973930310!5m2!1ses-419!2scl" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}