{% extends 'core/base.html' %}
{% block name %}
    <title>API Rest</title>
{% endblock %}
{% load static %}
{% block contenido %}
        <section class="home">
            <div class="home__img">
                <div class="home__food">
                    <div class="home__food--body">
                        <h2>API REST</h2>
                        <a class="home__body--button" id="dolar" href="#">Valor del dolar</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="api__section">
            <div class="api__container">
                <div class="api__content">
                </div>
            </div>
        </section>
{% endblock %}