{% extends 'core/base.html' %}
{% block name %}
    <title>Contacto</title>
{% endblock %}
{% load static %}
{% block contenido %}
        <section class="home">
            <div class="home__img">
                <div class="home__food">
                    <div class="home__food--body">
                        <h2>Contacto</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact__section">
            <div class="contact__container">
                <div class="contact">
                    <h3 class="contact__title">Telefono</h3>
                    <p><i class='bx bx-phone'></i> +56 412345678</p>
                    <p><i class='bx bx-phone'></i> +56 412345678</p>
                    <p><i class='bx bxl-whatsapp'></i> +56 9 8765 4321</p>
                </div>
                <div class="contact">
                    <h3 class="contact__title">Horario</h3>
                    <p><i class='bx bx-time'></i> Lunes a Domingo  — 12:00 a 22:00</p>
                </div>
                <div class="contact">
                    <h3 class="contact__title">Ubicación</h3>
                    <p><i class='bx bxs-map'></i> San Martin 622, Concepción, Chile</p>
                </div>
            </div>
        </section>
{% endblock %}