<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block name %}
  <title>Staff</title>
  {% endblock %}
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="icon" type="imge/png" href="{% static 'core/'%}img/icons/cropped-Sin-título-1-32x32.png">
  <link rel="stylesheet" href="{% static 'core/'%}css/staff.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <header>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'core/'%}img/icons/logo2-web-1024x373.png" alt=""></a>
                <div class="d-flex">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'staffUsers' %}">Inicio Staff</a>
                    </li>
                    <li class="nav-item dropdown mr-5"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Listar</a>
                        <ul class="dropdown-menu bg-dark shadow" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'listado_usuarios' %}">Listar usuarios</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'listado_tipos' %}">Listar tipos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'listado_productos' %}">Listar productos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown mr-5"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Agregar</a>
                        <ul class="dropdown-menu bg-dark shadow" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Agregar usuarios</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'nuevo_tipo' %}">Agregar tipos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'nuevo_producto' %}">Agregar productos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ml-9"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario: {{ user.email }}</a>
                        <ul class="dropdown-menu bg-dark shadow" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </div>
            </div>
        </nav>
    </div>
  </header>
  <main class="container-fluid d-flex justify-content-center">
    {% block contenido %}
    <div class="main">
        <div class="container-fliud container_bienvenida">
            <h2 class="text-danger title">Página Administrativa de Proyecto Sushi</h2>
            <div class="bienvenida shadow-lg">
                <h2>¡Bienvenid@ {{ user.first_name}} {{ user.last_name }}!</h2>
            </div>
        </div>
    </div>
    {% endblock %}
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>